
body {
    margin: 0;
}
.icon-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    background-color: beige;
    overflow: auto;
    
    box-shadow: 0 0 3px rgba(0,0,0,2);
    overflow: hidden;

}
.icon-bar a {
    float: left;
    overflow: hidden;
    align-items: center;
    
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    font-size: 15px;
}
.icon-bar a:hover{
    color: lightgreen;

}
.acfit {
    color:  deepskyblue;

}
.nav-text{
    display: block;
    text-decoration: none;
}
.you {
    color: whitesmoke;
    text-align: center;
    padding: 10px 8px;
    margin:6rem;
    width: 1000px;
    border-radius: 7px;


}
.name {
    padding: 1rem;
    margin: 0;

}
.address {
    padding:   1rem;
    margin: 0;

}
.no {
    padding: 1rem;
    margin: 0;

}
#pword {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid white;
    width: 250px;
    margin: 0px;
    opacity: 0.3;

}
#uname {
    padding: 7px;
    border: 1px solid white;
    border-radius: 7px;
    width: 250px;
    opacity: 0.3;

}
.btn {
    padding: 7px;
    margin: 30px;
    width: 200px;
    border: 1px solid green;
    border-radius: 7px;
    opacity: 0.3;
}
