
body {
    margin: 0;
}
.icon-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    background-color: beige;
    overflow: auto;
    
    box-shadow: 0 0 3px rgba(0,0,0,2);
    overflow: hidden;

}
.icon-bar a {
    float: left;
    overflow: hidden;
    align-items: center;
    
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    font-size: 15px;
}
.icon-bar a:hover{
    color: lightgreen;

}
.acfit {
    color:  deepskyblue;

}
.nav-text{
    display: block;
    text-decoration: none;

}


.slideshow-container {
    max-width: 1000PX;
    position: relative;
    margin: auto;
}
.myslide {
    display: none;}
    img {vertical-align: middle;}
.caption-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.active {
    background-color: pink;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active{
    background-color:#717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;}
@keyframes fade{
    from {opacity: .4}
    to {opacity:1}
}
@media only screen and (max-width:300px){
    .caption-text{ font-size: 12px;}
}
.bac {
    background-color: rgb(104, 100, 100);
}
.help {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.go {
    border: 1px solid rgb(231, 225, 225);
    background-color: rgb(231, 225, 225);  
    border-radius: 8px;
}
.go a {
    text-decoration: none;

}
.try {
    border: 1px solid rgb(231, 225, 225);
    background-color: rgb(231, 225, 225);  
    border-radius: 8px;

}

