body {
    margin: 0;
}
.pass {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: beige;
    overflow: auto;
    display: flex;
    box-shadow: 0 0 3px rgba(0,0,0,2);

}
.nav-link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    
}